//colors
$mercury: #e5e5e5;

body {
  padding-top: 20px;
  padding-bottom: 20px;
}
.container {
  max-width: 600px;
}

.rateReady {
  background-color: #e5cec6;
}
.rateCorrect {
  background-color: #5cb85c;
}
.rateIncorrect {
  background-color: #d9534f;
}

.choices {
  padding: 15px;
  font-size: 20px;
}
.choice:hover {
  background-color: #ffa;
}
.selections {
}
.answers {
  background-color: #F0E0F0;
}
.onepx {
  width: 1px;
}
.title {
  font-family: 'Ubuntu Condensed', sans-serif;
}
.text {
  font-size: 15px;
  font-family: 'Ubuntu Condensed', sans-serif;
}
.button {
  cursor: pointer;
}
.button:active {
  font-weight: bold;
}
label {
  cursor: pointer;
}

@import url(https://fonts.googleapis.com/css?family=Ubuntu+Condensed);
