//colors
$mercury: #e5e5e5;

body {
  padding-top: 20px;
  padding-bottom: 20px;
}
.container {
  max-width: 600px;
}
.jumbotron {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid $mercury;
  .btn {
    padding: 2px 24px;
    font-size: 21px;
  }
}
.choices {
  padding: 15px;
  font-size: 20px;
}
.onepx {
  width: 1px;
}
.title {
  font-family: 'Ubuntu Condensed', sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Ubuntu+Condensed);
